<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535191963502-t49dmn69va7cdfl0j16b18ei7dqnsqpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535191963502-t49dmn69va7cdfl0j16b18ei7dqnsqpp</string>
	<key>API_KEY</key>
	<string>AIzaSyBD02EcABXofnGvYVSdcPy_yR7_kIQSbr4</string>
	<key>GCM_SENDER_ID</key>
	<string>535191963502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-1b762</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-1b762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535191963502:ios:b452902adf44b06a4aa37f</string>
</dict>
</plist>